* {
    margin: 0;
}

/* THIS IS MY HEADER, USE THIS ALL THE UNTIL... */

.bitter {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #393d3f;
    background-color: #fdfdff;
}

.page_header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #393d3f;
    color: #fdfdff;
    padding: 40px 20px;
    margin-bottom: 50px;
}

.logo {
    width: 50%;
    height: 50%;
}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style:none;
    font-size: 16pt;
}

.menu a {
    text-decoration: none;
    color: #fdfdff;
}

.menu a:focus, a:hover {
    color: #ecc05B;
    text-decoration: underline;
}

/* ...HERE */

.service_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.services_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px
}

h1 {
    font-size: 40pt;
    font-weight: 800;
}

h2 {
    font-size: 30pt;
    font-weight: 700;
}

h3 {
    font-size: 20pt;
    font-weight: 500;
}

p {
    font-size: 16pt;
    font-weight: 400;
}

.price {
    color: #931B10;
}


/* THIS IS THE STYLE FOR THE PAGE TITLE AND DESC, USE THIS UNTIL... */
.page_info {
    background-color: #ecc05B;
    padding: 2em 5em;
    width: 50%;
}

.page_info h1 {
    text-align: center;
}

/* ...UNTIL HERE */

.service_img {
    height: 20rem;
    width: 20rem;
}

fieldset{
    margin:0 ;
    padding: 100px;
    border-radius: 10px;
    border-color: rgb(210, 210, 210)
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%; 
  padding: 5px; 
  font-size: 16px; 
  border: 1px solid;
  border-radius: 5px; 
  margin-bottom: 15px; 
}

label {
    font-size: 20px; 
  }

button {
    width: 100%;
    padding: 15px;
    font-size: 16px; 
    background-color: #ecc05B; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color:#f4dba1 ; 
  }

/* THIS IS MY FOOTER, USE THIS ALL THE UNTIL... */

.page_footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #393d3f;
    color: #fdfdff;
    padding: 40px 20px;
    margin-top: 50px;
}

/* ...UNTIL HERE */





@media (min-width: 700px) {

    .service_content {
        gap: 60px;
    }

    .services_inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 100px 30px;
    }
}

.welcome{
    color: black;
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 50px;
    background-color: #ecc05B;
    padding: 2em 5em;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about{
    color: black;
    text-align: left;
    padding: 40px 20px;
    margin-bottom: 50px;
    background-color: #ecc05B;
    padding: 2em 5em;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.art{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20rem;
    width: 30rem;
    margin-bottom: 50px;
}

@media (min-width: 700px) {
    .megadiv{
        display:flex;
        flex-direction: row;
        padding: 1.5em;
        gap: 20px;
    }
} 







